<!-- meta information -->
<meta charset="utf-8">
<meta name="description" {% if page.title == "Home" %}
      content="{{ site.data.brume.description }}" {% else %}
      content="{{ page.content | strip_html | strip_newlines | truncate: 120 }}" {% endif %}>
<meta name="author" content="{{ site.data.brume.author }}">

<!-- Enable responsiveness on mobile devices-->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

<!-- title -->
<title>{{ page.title }} &middot; {{ site.data.brume.name }}</title>

<!-- icons<link rel="shortcut icon" href="{{site.baseurl}}/public/images/favicon.ico" /> -->


<!-- stylesheets <link rel="stylesheet" href="{{site.baseurl}}/public/css/responsive.gs.12col.css">
<link rel="stylesheet" href="{{site.baseurl}}/public/css/animate.min.css">
<link rel="stylesheet" href="{{site.baseurl}}/public/css/main.css">-->
<link rel="stylesheet" href="{{site.baseurl}}/public/css/style.css">
<link rel="stylesheet" href="{{site.baseurl}}/public/syntax.css">
<style type="text/css">
		[touch-action="none"]{ -ms-touch-action: none; touch-action: none; }[touch-action="pan-x"]{ -ms-touch-action: pan-x; touch-action: pan-x; }[touch-action="pan-y"]{ -ms-touch-action: pan-y; touch-action: pan-y; }[touch-action="scroll"],[touch-action="pan-x pan-y"],[touch-action="pan-y pan-x"]{ -ms-touch-action: pan-x pan-y; touch-action: pan-x pan-y; }
	</style>
	<style type="text/css" id="style-1-cropbar-clipper">
		/* Copyright 2014 Evernote Corporation. All rights reserved. */
.en-markup-crop-options {
    top: 18px !important;
    left: 50% !important;
    margin-left: -90px !important;
    width: 180px !important;
    border: 2px rgba(255,255,255,.38) solid !important;
    border-radius: 4px !important;
}

.en-markup-crop-options div div:first-of-type {
    margin-left: 0px !important;
}

	</style>
	<style>.pkt_added {text-decoration:none !important;}</style>


<!-- Google fonts <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic&subset=latin-ext">-->


{% if site.paginate %}
<!-- font Awesome -->
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
{% endif %}

<!-- feed links<link rel="alternate" href="{{ site.baseurl }}/feed.xml" type="application/rss+xml" title="{{ site.name }}"> -->

