<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
  <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navgation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapse" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navgation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#" class="navbar-brand">Brand</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">home</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toogle" data-toggle="dropdown">dropdown<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Action</a></li>
            <li><a href="#">Action</a></li>
            <li class="divider"></li>
            <li><a href="#">Action</a></li>
            <li class="divider"></li>
            <li><a href="#">Action</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="search">
        </div>
        <button class="btn btn-default" type="button">Submit</button>
      </form>
      <button type="button" class="btn btn-default navbar-btn">sign in</button>
      <p class="navbar-text navbar-right">signed in a <a href="#" class="navbar-link">mark otto</a></p>
    </div>
  </div>
</nav>
<div class="jumbotron">
  <div class="container">
  <h1>Hello World</h1>
  <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <p><a href="#" class="btn btn-primary btn-lg" role="button">Learn more</a></p>

  </div>
</div>
    <div class="container azul">
      <header class="top row gutters{% if page.title == "Home" %} fadeInLeft animated{% endif %}">
        <div class="col span_2 center">
          <!-- TODO: add baseurl to the logo link -->
          <a href="{{ site.url }}" id="logo" title="{{ site.data.brume.name }}"
             style="background-image: url({{site.baseurl}}/public/images/logo.png);"></a>
        </div>
        {% include navigation.html %}
      </header>

      {{ content }}

      <footer>
       <!-- <p>
          This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/deed.en_US">Creative Commons Attribution-NonCommercial 4.0 International License</a>.
        </p>-->
        <p>
          关于我：<a href="#">amintoristator</a>
        </p>
      </footer>
    </div>

    <!-- scripts -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="{{site.baseurl}}/public/js/jquery.fitvids.js"></script>
    <script>
      $(document).ready(function(){
        $("article").fitVids();
      });
    </script>
  </body>
</html>
