<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="admintor" />
   <link href="/atom.xml" rel="alternate" title="ios or js" type="application/atom+xml">
   <meta name="readability-verification" content="QCzSs992GxmRYRKVpPeZ6LE2tS8aYKxsSSQKV8YM"/>

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
    <!-- other -->
   <script type="text/javascript" src="/blog12/base.js"></script>
  <script type="text/javascript" src="/blog12/base_drag.js"></script>
  <script type="text/javascript" src="/blog12/base_form.js"></script>
  <script type="text/javascript" src="/blog12/demo3.js"></script>
  <script type="text/javascript" src="/blog12/tool.js"></script>
  <script type="text/javascript" src="/blog12/ajax.js"></script>
  <link rel="stylesheet" type="text/css" href="/blog12/index.css" />
</head>
<body>
<div id="login">
    </div>
    <div id="share">
    </div>
<div id="banner">
        <img src="/blog12/images/11.png" alt="first" />
        <img src="/blog12/images/22.png" alt="two" />
        <img src="/blog12/images/33.png" alt="three" />
        <img src="/blog12/images/44.png" alt="four" />
         <img src="/blog12/images/55.png" alt="five" />
        <ul>
          <li class="banner1">●</li>
          <li class="banner2">●</li>
          <li class="banner3">●</li>
          <li class="banner4">●</li>
          <li class="banner5">●</li>
        </ul>
    </div>
<div class="site">
  <div class="title">
    <a href="/">ios or js</a>
    <a class="extra" href="/">home</a>
  </div>
  
  {{ content }}
    </div>
</body>
</html>
